.banner {
    height: 250px;
    padding: 45px 15px;
}
  
section {
    height: 200px;
    padding: 20px 20px;
    background-color: rgb(221, 221, 221);
}

.signup,
.login,
.features {
    height: fit-content;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 290px;
}

.signup-form > div,
.login-form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;
}

.login {
    background-color: white;
}

.signup > header,
.login-header {
    margin-top: 0;
}

.login-header {
    height: 140px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.login-header > h3 {
    margin: 0;
}

.signup-error,
.login-error {
    width: 100%;
}