.banner-and-features {
    width: 100%;
}

.banner-section {
    background-color: #A3F7BF;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    animation: 4s ease 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.banner {
    background-color: #A3F7BF;
    height: 250px;
    padding: 60px 15px;
}

.banner > h1 {
    font-family: 'Delius', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.75em;
    width: 290px;
    margin: 20px auto;
}

.dice {
    font-size: 1.05em;
    transform: rotate(20deg);
    animation: rotation 7s 1 ease;
}

@keyframes rotation {
    from {
        color: black;
        transform: rotate(0deg);
    }
    to {
        color: #FF0000;
        transform: rotate(379deg);
    }
}

.green {
    color: #06D6A0;
}

.green:hover {
    color: #0F7425;
}

.mobile-img {
    width: 250px;
    margin: 0 auto;
    border-radius: 38px;
    box-shadow: 0 8px 6px -6px grey;
    -webkit-box-shadow: 0 8px 6px -6px grey;
    -moz-box-shadow: 0 8px 6px -6px grey;

}
  
section {
    height: 200px;
    padding: 20px 20px;
}

.features {
    height: fit-content;
    font-size: 0.9em;
    animation: fadeInAnimation 6.5s ease-in forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.features > h2 {
    font-family: 'Delius', 'Arial', 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5em;
    min-height: 120px;
}

.signup-header,
.login-header {
    height: 140px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;    
}

.new-user {
    margin: 0;
    font-size: 1.5em;
}

.signup-info {
    font-size: 1.1em;
}

.login-header > h2 {
    margin: 0;
}

.signup-form > div > label,
.login-form > div > label {
    font-weight: 600;
    text-align: left;
}

#signup {
    min-height: 500px;
    background-color: #F4E76E;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-section {
    background-color: #F6F7EB;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 300px;
}


#login {
    min-height: 360px;
    background-color: #A3F7BF;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    background-color: #F6F7EB;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    margin: 0 auto;
}

.signup-label-input,
.login-label-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80px;
    margin: 40px auto;
}

#new_group_name,
#group_name,
#game_name,
#player_name,
#counter-number {
    font-size: 1.2em;
    padding-left: 3px;
    border-radius: 3px;
    border: 1px solid gray;
}

.signup-error,
.login-error {
    width: 100%;
    height: 55px;
}

button {
	background-color:white;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	border: 1px solid lightgray;
	display: inline-block;
	color:black;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 20px;
}

button:hover,
button:focus {
    background-color: #06D6A0;
    color: white;
}

@media screen and (min-width: 767px) {
    .banner-and-features {
        display: flex;
        margin-top: 60px;
        height: calc(100vh - 60px);
        min-height: 500px;
    }

    .banner-section {
        height: 100%;
        width: 55%;
    }

    .banner {
        height: 277px; 
    }

    .banner > h1 {
        margin: auto auto;
    }

    .mobile-img {
        width: 250px;
        transform: rotate(-18deg);
    }
    
    .features {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 45%;
    }



    #signup {
        position: relative;
    }

}

@media screen and (min-width: 1023px) {

    .banner > h1 {
        width: 350px;
    }

}

@media screen and (min-width: 1023px) and (min-height: 712px) {
    #signup,
    #login {
        height: calc(100vh - 60px);
    }
}

@media screen and (min-width: 1365px) and (min-height: 1023px) {
    #signup,
    #login {
        height: calc(100vh - 60px);
    }

    .mobile-img {
        width: 280px;
    }
}