.banner {
    background-color: #A3F7BF;
    height: 250px;
    padding: 60px 15px;
}

.banner > h1 {
    font-size: 1.75em;
}
  
section {
    height: 200px;
    padding: 20px 20px;
}

.signup,
.login,
.features {
    height: fit-content;
}

.features {
    font-size: 0.9em;
}

.features > h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5em;
    min-height: 100px;
}

.signup {
    background-color: #FFF591;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 290px;
}

.signup-form > div,
.login-form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 120px;
}

.login {
    background-color: #A3F7BF;
}

.new-user {
    margin: 0;
    font-size: 1.5em;
}

.signup-info {
    font-size: 1.1em;
}

.signup-header,
.login-header {
    height: 140px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;    
}

.login-header > h2 {
    margin: 0;
}

.signup-form > div > label,
.login-form > div > label {
    font-weight: 600;
}

#group_name,
#game_name,
#player_name,
#counter-number {
    font-size: 1.15em;
    padding-left: 3px;
    border-radius: 3px;
    border: 1px solid gray;
}

.signup-error,
.login-error {
    width: 100%;
}

button {
	background-color:white;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	border: 1px solid lightgray;
	display: inline-block;
	color:black;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 20px;
}

button:hover,
button:focus {
	background-color: #05DFD7;
}
