.go-back-player-button {
    margin-top: 50px;
    position: absolute;
    left: 0;
}

.win-loss {
    max-height: 160px;
}

.games-played {
    height: fit-content;
    padding: 10px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.games {
    overflow-x: auto;
}

#game-results {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#game-results th,
#game-results tr {
    text-align: center;
}

#game-results td,  
#game-results th {
    border: 1px solid black;
    padding: 2px;
}