* {
  box-sizing: border-box;
}

body {
  background-color: #F6F7EB;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

  
button, a {
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  border-bottom: 3px solid #06D6A0;
}

button {
  font-size: 1.2em;
}

.red-error {
  color: red;
}

.not-found,
.error-boundary {
  margin-top: 100px;
}