* {
  box-sizing: border-box;
}

body {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

button, 
input {
  font-size: 1.2em;
}

.red-error {
  color: red;
}

.not-found,
.error-boundary {
  margin-top: 100px;
}