* {
  box-sizing: border-box;
}

body {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

  
button, a {
  cursor: pointer;
}

a:hover {
  border-bottom: 3px solid #05DFD7;
}

button {
  font-size: 1.2em;
}

.red-error {
  color: red;
}

.not-found,
.error-boundary {
  margin-top: 100px;
}