.go-back-stats-button {
    margin: 20px auto 50px;
}

.game-stats-header {
    margin-top: 80px;
    height: fit-content;
}

.game-stats-header > h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.pie-chart {
  background-color: #F6F7EB;
  width: 320px;
  height: fit-content;
  margin: 0 auto;
}

.game-edit-delete-buttons {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 30px auto 50px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.edit-game-button,
.delete-game-button {
    color: black;
    border-radius: 3px;
    background-color: white;
    height: 40px;
    line-height: normal;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid lightgray;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
}

.edit-game-button:hover {
    background-color: #06D6A0;
    color: white;
}

.delete-game-button {
    font-weight: 100;
}

.delete-game-button:hover,
.delete-game-button:focus {
    background-color: #F80008;
}

.scores-table-section {
    height: fit-content;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
}

.player-list {
    overflow-x: auto;
}

#game-results {
    width: 100%;
    border-collapse: collapse;
}

#game-results th,
#game-results tr {
    background-color: white;
    text-align: center;
}

#game-results th {
    background-color: #A3F7BF;
}

#game-results td,  
#game-results th {
    border: 1px solid #AAA;
    padding: 2px;
}

@media screen and (min-width: 768px) {
    .scores-table-section {
        width: 530px;
    }

    .game-edit-delete-buttons {
        width: 50%;
        max-width: 447px;
    }
}

@media screen and (min-width: 1024px) {
    .table-and-chart {
        display: flex;
        margin: 0 auto;
        width: 90%;
        max-width: 980px;
    }

    .pie-chart {
        width: 350px;
    }
}

@media screen and (min-width: 1366px) {
    .table-and-chart {
        display: flex;
        margin: 0 auto;
        width: 80%;
    }

    .pie-chart {
        width: 360px;
    }
}