.go-back-button {
    margin-top: 8px;
    position: absolute;
    bottom: 1px;
}

.game-stats-header {
    margin-top: 80px;
    height: fit-content;
}

.game-stats-header > h2 {
    font-size: 1.2em;
}

.pie-chart {
  background-color: white;
  min-height: 320px;
  height: fit-content;
}

.game-edit-delete-buttons {
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.edit-game-button,
.delete-game-button {
    border-radius: 3px;
    height: 26px;
    line-height: normal;
}

.delete-game-button {
    color: blue;
    background-color: white;
    border: 1px solid blue;
    font-size: 18px;
    font-weight: 100;
    padding: 0;
}

.edit-game-button:hover,
.delete-game-button:hover {
    color: red;
}

.games-played {
    height: fit-content;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.player-list {
    overflow-x:auto;
}

#game-results {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#game-results th,
#game-results tr {
    text-align: center;
}

#game-results td,  
#game-results th {
    border: 1px solid black;
    padding: 2px;
} 