.create-scoresheet {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 500px;
}

.create-scoresheet-section {
    background-color: #A3F7BF;
    height: 300px;
    width: 320px;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    margin: 0 auto;
}

.create-scoresheet-header {
    padding: 0;
    height: 100px;
}

.create-scoresheet-header > h1 {
    font-size: 1.7em;
}

.create-score-sheet-form {
    margin: 0 auto 20px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.create-score-sheet-form > label {
    font-size: 1.3em;
}

.go-back-button {
    margin: 30px auto 20px;
}