nav,
footer {
    padding: 1% 0;
}

.nav-top {
    background-color: #A3F7BF;
    box-shadow: 0px 1px 10px #999;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.app-name {
    color: #0F7425;
    font-size: 1.85em;
    font-family: 'Delius', 'Arial', 'Helvetica', sans-serif;
}

.app-name > span {
    color: black;
}

.nav-top-links {
    min-width: 125px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

.nav-top-links > a {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    text-decoration: none;
    font-size: 1em;
    padding: 2px;
    color: black;
}

.nav-top-links > a:active,
.nav-top-links > a:focus {
    border-bottom: 3px solid #06D6A0;
}

.dashboard-link {
    border-bottom: 3px solid #06D6A0;
}

.nav-show-logout-links {
    max-width: 155px;
}

@media screen and (min-width: 768px) {
    .nav-top {
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav-show-logout-links {
        max-width: 175px;
    }

    .nav-top-links > a {
        font-size: 1.1em;
        margin-right: 10px;
    }

    .nav-show-login-links {
        animation: 4s ease 0s 1 slideInFromRight;
    }

    @keyframes slideInFromRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
    }

}