header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 140px;
}

.start-game-link {
    font-size: 1.2em;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 1px;
    line-height: 1.2em;
}

.start-game-link:hover {
    background-color: yellow;
}

.all-games {
    height: fit-content;
    width: 100%;
    padding: 8px;
}
  
.games-played {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-links {
    display: flex;
    flex-direction: column;
}

.game-links > a {
    line-height: 1.8em;
}
  
button, a {
    cursor: pointer;
}
  
a {
    color: blue;
}
  
a:hover {
    border-bottom: 1px solid blue;
}

.pagination {
    display: inline-block;
    width: 284px;
    margin: 10px auto;
}

.page-number {
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: white;
    padding: 7px 15px;
    margin: 0 2px;
}

.page-number:hover {
    background-color: yellow;
}