.dashboard-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 20px;
    width: 100%;
    height: 140px;
}

.start-game-link {
    background-color: white;
    border: 1px solid #06D6A0;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    color: black;
    font-size: 1.2em;
    padding: 3px;
    line-height: 1.2em;
    text-decoration: none;
}

.start-game-link:hover {
    background-color: #06D6A0;
    color: white;
}

.all-games {
    background-color: #A3F7BF;
    min-height: 300px;
    height: fit-content;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.games-played {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-links {
    display: flex;
    flex-direction: column;
    
}

.game-links > a {
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.4);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 45px;
    line-height: 1.5em;
    margin-bottom: 5px;
    text-decoration: none;
}

.game-links > a:hover,
.game-links > a:focus,
.game-links > a > span:hover,
.game-links > a > span:focus {
    background-color: #06D6A0;
    color: white;
}

.game-name {
    font-size: 1.05em;
    font-weight: 600;
}

.game-date {
    font-size: 0.83em;
    color: gray;
}

.pagination {
    display: inline-block;
    width: 284px;
    margin: 10px auto;
}

.page-number {
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: white;
    font-size: 1.05em;
    padding: 7px 15px;
    margin: 0 2px;
}