footer {
    display: flex;
    text-align: center;
    color: white;
    background-color: #118A2C;
}

footer > p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: 0 auto 0 auto;
    padding: 10px 0;
}

.version-number {
    position: absolute;
    right: 5px;
}