.player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.1);
    -webkit-box-shadow: 0px 3px 10px 5px rgba(119, 119, 119, 0.1);
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 3px;
    font-size: 1.15em;
    margin-bottom: 3px;
}

.delete-player {
    margin-right: 5px;
    font-size: 0.7em;
    padding: 0 8px;
}

.delete-player:hover,
.delete-player:focus {
    background-color: #F80008;
}

.player-name {
    display: flex;
    width: 60%;
}

.player-score {
    display: flex;
    width: 49%;
}

@media screen and (min-width: 736px) {
    .player {
        width: 580px;
        margin: 5px auto;
    }

    .delete-player {
        margin-right: 10px;
    }
}