.game-header {
    margin-top: 80px;
}

.game-header > h1 {
    margin-bottom: 0;
}

.score-sheet {
    background-color: #A3F7BF;
    height: fit-content;
    padding: 2px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.score-sheet > button {
    margin: 30px auto;
}

.score-sheet-form {
    margin: 0 auto 20px;
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-score-input {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-score-input > label {
    font-size: 1.3em;
    margin-right: 5px;
}

.player-score-input > input {
    height: 60px;
    width: 150px;
    font-size: 2em;
    text-align: right;
}

.change-counter-number {
    background-color: #F4E76E;
    height: 105px;
    line-height: 1.8em;
}

#counter-number {
    text-align: right;
    margin-left: 5px;
    width: 100px;
    padding-right: 5px;
}

.delete-cancel-button {
    margin: 50px auto;
}

.player-error {
    height: 50px;
}

@media screen and (min-width: 568px) {

    .change-counter-number {
        height: 76px;
    }

}